body{background:#f5f5f5;font-size:14px;font-family:"Microsoft YaHei",微软雅黑}
.clear{	clear:both;	}input,button{outline:none;border:0px;}
#wrap,#wrap #header,#wrap #conter,#wrap #footer{
	width:100%;
	height:auto;
}#wrap{position:relative;}
/* 头部 */
@media (max-width: 480px) {
	.loading{
		height:100%;
	}
}
@media (min-width: 480px) {
	#loading{
		height:545px;
	}
}
.loading{
	position: absolute;
	background:#fff;
	width:100%;
	z-index:111;
	filter: alpha(opacity = 50);
	opacity: 0.5;
}
#jpg{
	animation:val 2s infinite linear;
	-webkit-animation:val 2s infinite linear;
	-moz-animation:val 2s infinite linear;
	
	margin-left:-50px;margin-top:-50px;
	width:100px;height:100px;
	position:fixed;
	left: 50%;
	top: 50%;
	-webkit-transform: translate( -50%,-50%);
	transform: translate(-50%,-50%);
	z-index:9;
}
#jpg div{
	width:10px;
	height:30px;
	background:#000;
	position:absolute;
	top:35px;
	left:45px;
	filter: alpha(opacity = 50);
}#jpg div.bar1{
	opacity: 0.12;
	transform:rotate(0deg) translate(0,-40px);
	-webkit-transform:rotate(0deg) translate(0,-40px);
}#jpg div.bar2{
	opacity: 0.25;
	transform:rotate(45deg) translate(0,-40px);
	-webkit-transform:rotate(45deg) translate(0,-40px);
}#jpg div.bar3{
	opacity: 0.37;
	transform:rotate(90deg) translate(0,-40px);
	-webkit-transform:rotate(90deg) translate(0,-40px);
}#jpg div.bar4{
	opacity: 0.50;
	transform:rotate(135deg) translate(0,-40px);
	-webkit-transform:rotate(135deg) translate(0,-40px);
}#jpg div.bar5{
	opacity: 0.50;
	transform:rotate(180deg) translate(0,-40px);
	-webkit-transform:rotate(180deg) translate(0,-40px);
}#jpg div.bar6{
	opacity: 0.75;
	transform:rotate(225deg) translate(0,-40px);
	-webkit-transform:rotate(225deg) translate(0,-40px);
}#jpg div.bar7{
	opacity: 0.87;
	transform:rotate(270deg) translate(0,-40px);
	-webkit-transform:rotate(270deg) translate(0,-40px);
}#jpg div.bar8{
	opacity: 1;
	transform:rotate(315deg) translate(0,-40px);
	-webkit-transform:rotate(315deg) translate(0,-40px);
}
/* 
@keyframes val{
	0%  {transform:rotate(0deg);}
	100% {transform:rotate(360deg);}
}
@-webkit-keyframes val{
	0%   {-webkit-transform:rotate(0deg);}
	100% {-webkit-transform:rotate(360deg);}
}
@-moz-keyframes val{
	0%   {-moz-transform:rotate(0deg);}
	100% {-moz-transform:rotate(360deg);}
} */
.loading img{
	width:50px;
	height:50px;
	display:block;
}
#header .header{
	width:100%;
	height:44px;
	position:relative;
	background:linear-gradient(to bottom, #fff 0%,#ececec 100%);
	border-bottom:1px solid #cacaca;
}
.header .return{
	width:34%;
	height: 44px;
}
.header .return a{
	background:url( ../img/back_btnf2x.png ) 5% 50% no-repeat;
	background-size:13px 22px;
	display:block;
	line-height: 44px;
	width: 100%;
	font-size: 16px;
	text-align: center;
	color:#000;
}
.header .logo{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate( -50%,-50%);
	transform: translate(-50%,-50%);
	font-size:16px;
	font-weight:bold;
}
    .header .logo img {
        width:44px;
        height:28px;
        display:block;
    }
/* 内容 */
.conter{
	min-height:100%;
}
#conter .con{
	background:url( ../img/bg_@2x.png ) 0px 10px no-repeat;
	background-size:100% 316px;
    min-height:316px;
}
.conter h1{
	font-size:18px;
	width:100%;
    height:65px;
    line-height:65px;
	text-align:center;
	color:#76c52e;
	font-weight:bold;
}
.con-h1 h1 {
    height:44px;
    line-height:44px;
}
.conter .conter-input{
    width:90%;
    border:1px solid #cacaca;
    background:linear-gradient(to bottom, #fff 0%,#dedede 100%);
    margin:0 auto;
    height:36px;
}
    
    .conter .conter-input ul {
        width:85%;
        float:left;
        height:36px;
    }
        .conter .conter-input ul li {
            width:100%;
            height:36px;
        }
            .conter .conter-input ul li img {
                width:36px;
                height:22px;
                display:block;
                margin:0 auto;
                padding-top:7px;
            }
.conter .conter-input li span{
    width:19%;
    height:36px;
    float:left;
    display:block;
}
.conter .conter-input p {
    width:80%;
    float:left;
    border-right:1px solid #cacaca;
    line-height:36px;
    font-weight:bold;
    font-size:14px;
}
.conter .conter-input b {
    background:url(../img/inp_ico@2x.png) 50% no-repeat;
    background-size:8px 21px;
    width:14%;
    height:36px;
    float:left;
}
.conter .warning{
	width:100%;
	height:30px;
	color:red;
	font-size:12px;
	font-weight:bold;
	padding-left:5%;
	line-height:30px;
}
.conter .buttom {
    padding-top:36px;
    width:100%;
    height:38px;
    line-height:36px;
}
.conter .pad-top{
	padding-top:6px;
}
    .conter .buttom span {
        border:1px solid #cacaca;
        width:50%;
        display:block;
        margin:0 auto;
        color:#fff;
        text-align:center;
        background:#ecedee;
        border-radius:3px;
        font-size:16px;

    }
     .conter .buttom span.on {
     	color:#777;
     	border:1px solid #63a626;
     	background:#76c52e;
     }
     .conter .buttom span.on a{
     	background:#76c52e;
     	cursor:pointer;
     	color:#fefefe;
     	text-shadow:1px 1px 2px #65a827;
     }
        .conter .buttom span a {
        	cursor:context-menu;
			width:100%;
			display:block;
            color:#777;
        }
#conter .alert-conter {
	z-index:99;
    width:90%;
    height:120px;
    border:1px solid #cacaca;
    position:absolute;
    top:12%;left:5%;
    background:#fff;
    box-shadow:2px 2px 10px #ccc;
}
    #conter .alert-conter li {
        clear:both;
        height:39px;
        border-bottom:1px solid #cacaca;
    }
    #conter .alert-conter li span{
        padding:8px 5% 9px 5%;
        float:left;
    }
        #conter .alert-conter li span img {
            width:36px;
            height:22px;
        }
    #conter .alert-conter li p {
        line-height:39px;
        float:left;
        color:#525252;
    }
@media (max-width: 480px) {
	#wrap .conter{
		min-height:450px;
	}
	.conter .pay {
		border-top:1px dashed #d7d7d7;
        width:100%;
        height:120px;
        background:#fff;
    }
        .conter .pay li {
            width:49.6%;
            height:59px;
            float:left;
            text-align:center;
            line-height:30px;
            border-right:1px dashed #d7d7d7;
            border-bottom:1px dashed #d7d7d7;
        }
            .conter .pay li span {
                width: 100%;
                color:#747576;
            }
            .conter .pay li p.cor {
                color:#cf2719;
                font-size:18px;
            }
            .conter .pay li p {
                font-size:14px;
                width: 100%;
                font-weight:bold;
                color:#525252;
            }
}
@media (min-width: 480px) {
	#wrap .conter{
		height:400px;
	}
    .conter .pay {
		border-top:1px dashed #d7d7d7;
        width:100%;
        height:60px;
        background:#fff;
    }
        .conter .pay li {
            width:24.6%;
            height:59px;
            float:left;
            text-align:center;
            line-height:30px;
            border-right:1px dashed #d7d7d7;
            border-bottom:1px dashed #d7d7d7;
        }
		.conter .pay li.border-no{
			border-right:0px;
		}
            .conter .pay li span {
                width: 100%;
                color:#747576;
            }
            .conter .pay li p.cor {
                color:#cf2719;
                font-size:18px;
            }
            .conter .pay li p {
                font-size:14px;
                width: 100%;
                font-weight:bold;
                color:#525252;
            }
}
    
.conter .conter-but {
    padding-top:20px;
    width:80%;
    height:auto;
    margin:0 auto;
    position:relative;
}
    .conter .conter-p {
        width:90%;
        text-align:center;
        margin:0 auto;
    }
        .conter .conter-p p {
            margin-top:10px;
            font-size:13px;
            color:#525252;
            line-height:20px;
        }
    .conter .conter-but .conter-top {
		border:1px solid #cacaca;
        background:#fff;
        clear:both;
        width:100%;
        height:36px;
		position:relative;
    }
        .conter .conter-but .conter-top p {
            width:46px;
            position:absolute;
            background:url( ../img/phone_number_icon@2x.png) right 0 no-repeat;
            background-size:46px 37px;
            height:38px;
        }
        .conter .conter-but .conter-top b {
            display:block;
            height:36px;
            width:64.6%;
        }
            .conter .conter-but .conter-top b input {
                width:70%;
				padding-top:10px;
                padding-left:28%;
                font-size:14px;
                font-weight:bold;
                color:#525252;
            }
            .conter .conter-but .conter-sm b {
                width:98%;
            }
			.conter .conter-but .conter-sm b input{
				padding-left:20%;
			}
        .conter .conter-but .conter-top button {
			position:absolute;
			right:0px;
			top:0px;
			padding:0px;
            width:30%;
            height:36px;
			font-size:14px;
            color:#777;
            background:#ecedee;
            text-align:center;
            line-height:36px;
        }
        
        .conter .conter-but .conter-top button.on {
	     	border:1px solid #63a626;
	     	background:#76c52e;
	     	cursor:pointer;
	     	color:#fefefe;
	     	text-shadow:1px 1px 2px #65a827;
        }
        
         
    .conter .conter-but .conter-bottom {
		background:#fff;
		border:1px solid #cacaca;
        position:relative;
        margin-top:16px;
        clear:both;
        width:99.8%;
		left:0.1%;
        height:36px;
    }
        .conter .conter-but .conter-bottom p {
            width:46px;
            position:absolute;
            background:url( ../img/pin_sms_icon@2x.png) right 0 no-repeat;
            background-size:46px 37px;
            height:36px;
        }
        .conter .conter-but .conter-bottom b {
            background-size:46px 36px;
            float:left;
            width:100%;
        }
            .conter .conter-but .conter-bottom b input {
                width:79%;
				padding-top:10px;
                padding-left:19%;
                font-size:14px;
                font-weight:bold;
                color:#525252;
            }
            .conter .conter-but .conter-bottom span {
                background:url(../img/in-right@2x.png) no-repeat;
                background-size:12px 19px;
                width:12px;
                height:19px;
                position:absolute;
                top:11px;
                left:90%;
            }
.conter .sorry {
    width:94%;
    margin:0 auto;
}
    .conter .sorry .sorry-div {
        background:#eaeaea;
        padding:16px 10px 15px 15px;
        border:1px solid #d7d7d7;
    }
        .conter .sorry .sorry-div h2 {
            line-height:30px;
            font-size:16px;
            font-weight:bold;
            color:#525252;
        }
        .conter .sorry .sorry-div p {
            font-size:14px;
            color:#747576;
            line-height:20px;
            font-size:12px;
        }
            .conter .sorry .sorry-div p span {
                font-size:16px;
                color:#cf2719;
                font-weight:bold;
            }
    .conter .sorry .sorry-but {
        color:#cacaca;
        font-size:14px;
        margin-left:5%;
        height:30px;
        line-height:30px;
    }
        .conter .sorry .sorry-but span {
            color:#76c52e;
            font-size:16px;
        }


/* 尾部 */
#footer .footer {
    width:100%;
    color:#cacaca;
    font-size:10px;
}
.footer .upay{
	height:30px;
}
@media (max-width: 480px) {
	.footer .upay{
		position: absolute;
		left: 50%;
		bottom: 0%;
		-webkit-transform: translate( -50%,0%);
		transform: translate(-50%,0%);
	}
}
@media (min-width: 480px) {
	.footer .upay{
		width:100%;
		margin-top:70px;
		line-height:30px;
		text-align:center;
		text-align:-webkit-center;
	}
}