$browser-default-font-size: 75px !default;
$bg:#fff;
$lucky_bg:#3d77ce #ee0088 #4c1090 #e7007e #787878;
$details_bg:#ebebeb #f1f5f8 #59afff #fc8585;
$esay: #4b4b4b #d6d6d6;
$guess:#6da8ef #fd7c64 #2a2a2a;
* {
    word-spacing: 1px;
    letter-spacing: 1px;
    word-break: break-all;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input,textarea{
    outline: none;
}
body,
html {
    width: 100%;
    font-family: Cambria; unicode-range: U+2E80-FFFF; src: local(苹方-简), local(WenQuanYi Zen Hei), local(Heiti SC), local(Heiti SC); 
}
@mixin marginLeft($width:100) {
    margin-left: -$width / 2;
}
@mixin marginRight($width:100) {
    margin-right: -$width / 2;
}
@mixin marginTop($height:100) {
    margin-top: -$height / 2;
}
@mixin marginCen{
    margin-left:auto;
    margin-right:auto;
}
@mixin opacity( $opacity:50 ) {
    opacity: $opacity / 100;
    filter:alpha(opacity=$opacity);
}
@mixin ad($ad:1) {
    animation-duration: $ad+s;
    -webkit-animation-duration: $ad+s;
}
@mixin delays($delays:.25) {
    animation-delay: $delays+s;
    -webkit-animation-delay: $delays+s;
}
input[type="radio"]{
    position:relative;
    appearance:button;
    -webkit-appearance:button;
    border:1px solid #b5b5b5;
    border-radius:50%;
    width:.4rem;
    height:.4rem;
    &:checked:after{
        content:'';
        position:absolute;
        top:50%;left:50%;
        width:.2rem;
        height:.2rem;
        background-color:#59afff;
        border-radius:50%;
        @include marginLeft(.2rem);
        @include marginTop(.2rem);
    }
}
input[type="checkbox"]{
    position:relative;
    appearance:button;
    -webkit-appearance:button;
    border:1px solid #b5b5b5;
    width:.4rem;
    height:.4rem;
    &:checked:after{
        content:'';
        position:absolute;
        top:50%;left:50%;
        width:.3rem;
        height:.3rem;
        background:url(../images/icon_yes.png) center no-repeat;
        background-size:.5rem .5rem;
        @include marginLeft(.3rem);
        @include marginTop(.3rem);
    }
}